/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');
@import url('./badges.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sl-overlay {
  background: rgba(46, 47, 66, 0.8) !important;
}

.sl-wrapper .sl-image {
  background-color: transparent !important;
}